@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color__fondo:#F3F5FC;
    --color__texto__1:#0A3871;
    --color__texto__2: #343A40;
    --color__btn__enc:#0A3871;
    --color__btn__desenc:#D8DFE8;
    --color__blanco: #ffffff;
    --fuente:"Inter", sans-serif; 
    
}

*{
    padding: 0;
    margin: 0;
    line-height: 150%;
}

body{
    background-color: var(--color__fondo);
    box-sizing: border-box;
    width: 100%;
    
    
}

.encabezado{
    
}

.logo{
    padding-top: 2.5rem ;
    margin-left: 2.5rem;
    width: 8%;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    font-family: var(--fuente);
    margin-bottom: 50px;
    margin-left: 150px;

}

.contenedor__1{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.contenedor__2{
    display: flex;
    flex-direction: column;
    background-color: var(--color__blanco);
    padding-right: 40px;
    border-radius: 32px;
}

.text-area{
    border: none;
    background-color: var(--color__fondo);
    font-size: 2rem;
    text-transform: lowercase;
    color: var(--color__texto__1);
}

::placeholder{
    color: var(--color__texto__1);
}
    .text-area:focus{
        outline: none;
    }

.informacion{

}

.botones{
    display: flex;
    gap: 24px;
}

.btn-encriptar{
    color: var(--color__blanco);
    background-color: var(--color__btn__enc);
    font-size: 1rem;

}

.btn-desencriptar{

}

.mensaje{
    border-style: none;

}

.copiar{

}

.footer{

}