@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color__fondo:#F3F5FC;
    --color__texto__1:#0A3871;
    --color__texto__2: #343A40;
    --color__btn__enc:#0A3871;
    --color__btn__desenc:#D8DFE8;
    --color__blanco: #ffffff;
    --fuente:"Inter", sans-serif; 
    
}

*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: var(--color__fondo);
    box-sizing: border-box;
    
    
    
    
}

.encabezado{
    
    
}

.logo{
    padding-top: 2.5rem ;
    margin-left: 2.5rem;
    width: 8%;
}

.contenedor{
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    font-family: var(--fuente);
    margin-bottom: 50px;
    margin-left: 88px;
    

}

.contenedor__1{
    /** display: flex;
    flex-direction: column;
    align-items: center; **/
    
}

.text-area{
    margin-top: 98px;
    border: none;
    background-color: var(--color__fondo);
    font-size: 2rem;
    text-transform: lowercase;
    color: var(--color__texto__1);
    
}

::placeholder{
    color: var(--color__texto__1);
}
.text-area:focus{
    outline: none;
}
.informacion{

}
.botones{
    display: flex;
    gap: 24px;
    margin-top: 18px;
}
    
.btn-encriptar{
    border: 1px solid var(--color__texto__1);
    color: var(--color__blanco);
    background-color: var(--color__btn__enc);
    font-size: 1rem;
    cursor: pointer;
    height: 67px;
    width: 328px;
    border-radius: 24px;
    
}    

.contenedor__2{
   /** display: flex;
    flex-direction: column;
    justify-items: center;
   **/ 
   
    
    
}


.btn-desencriptar{
    border: 1px solid var(--color__texto__1);
    color: var(--color__btn__enc);
    font-size: 1rem;
    cursor: pointer;
    height: 67px;
    width: 328px;
    border-radius: 24px;
}

.mensaje{
    border: none;
    background-image: url("/img/Muñeco.png");
    background-repeat: no-repeat;
    margin-left: 98px;
    color: var(--color__texto__1);
    margin-top: 20px;
    padding-left: 20px;
    background-color: var(--color__blanco);
    border-radius: 32px;
    width: 328px;
    height: 500px;
    font-size: 2rem;

   

}
.mensaje:focus{
    outline: none;
}

.copiar{
    border: 1px solid var(--color__texto__1);
    color: var(--color__btn__enc);
    font-size: 1rem;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-top: 12px;
    margin-left: 105px;
    position: absolute;
    border-radius: 24px;
    
    

}

@media (max-width: 850px){
    .contenedor{
        flex-direction: column;
    }
    .mensaje{
        margin-left: auto;
        width: 688px;
        background-image: none;
        
    }

}
@media (max-width: 450px){
    .contenedor{
        flex-direction: column;
        padding: 0;
    }

    .botones{
        flex-direction: column;
    }
    .mensaje{
        margin-left: 0;
        width: 688px;
        background-image: none;
        
    }

}